:root {
    --main: #00B3B3;
    --light: #36D9D9;
    --second: #D9F3F3;
    --red: #EF3544;
    --yellow: #EFC635;
    --link: #00C2FF;
    --link-hover: #009BCC;
    --green: #27AE60;
    --gray: #7C7C7C;  
    --black-gray: #484848;
    --white-gray: #F5F5F5;
    --border: #CBCBCB;

}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: var(--link);
    text-decoration: underline;
}

a:hover {
    color: var(--link-hover);
    text-decoration: none;
}
h2 {
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 0.05em;
    color: #000;
}


/* ************* */
/* header styles */
/* ************* */

.top-line {
    background-color: var(--white-gray);
}

.top-line .city-choice {
    color: var(--main);
    font-size: 0.875rem;
    text-decoration: underline;
    white-space: nowrap;
}
.top-line .city-choice span {
    padding-left: .5rem;
}

.top-line .city-choice:hover {
    text-decoration: none;
}
.top-line .nav .nav-link {
    font-size: 0.875rem;
    color: var(--black-gray);
    text-decoration: none;
}
.top-line .top-contacts a {
    color: var(--black-gray);
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration: none;
}
.search-block {
    /* width: 400px; */
}
.search-block .input-group-text {
    background-color: transparent;
    border-radius: 10px;
}
.search-block .form-control {
    border-left: none;
}
.search-block .input-group-append .input-group-text {
    background-color: var(--main);
    border-color: var(--main);
    font-size: 0.875rem;
    color: #fff;
}
.user-block a {
    display: inline-block;
    text-align: center;
    font-size: 0.875rem;
    color: var(--black-gray);
    text-decoration: none;
    margin: 0 .5rem;  
}
.cart-block a {
    display: inline-block;
    text-align: center;
    font-size: 0.875rem;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    margin: 0 .5rem;  
}

/* ************* */
/* footer styles */
/* ************* */
.footer .footer-top .nav-link {
    color: var(--dark);
    font-size: 0.875rem;
    text-decoration: none;
}

.footer .footer-bottom {
    border-top: 1px solid rgba(124, 124, 124, .4);
}

.footer .footer-bottom .nav-link {
    color: var(--gray);
    font-size: 0.875rem;
    text-decoration: none;
}

.footer .footer-bottom .social-icons .nav-link {
    padding: .5rem .5rem;
}


/* **************** */
/* main page styles */
/* **************** */
#main-tab  {
    border: 1px solid var(--main);
    border-radius: 12px;
    display: inline-flex;
}
#main-tab .nav-link {
    font-size: 1rem;
    font-weight: 500;
    color: var(--black-gray);
    text-decoration: none; 
    padding: 0.625rem 1.875rem;
    border-radius: 10px;
}
#main-tab .nav-link.active, #main-tab .show > .nav-link {
    color: #fff;
    background-color: var(--main);
}
.btn-menu {
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    background-color: var(--second);
    padding: 0.3125rem 1.25rem;
    border-radius: 100px;
}
#goods-tab-content .nav-link {
    display: flex;
    align-items: flex-start;
    color: var(--black-gray);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem 0;
}
#goods-tab-content .nav-link img {
    margin-right: 5px;
}

#brands-tab-content h3 {
    color: #000;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.05em;
}
#brands-tab-content .nav-link {
    color: var(--black-gray);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem 0;
}
#brands-tab-content .nav-link:hover {
    color: var(--main);
}
#brands-tab-content .nav-link:hover:after {
    content: url(../img/menu_arrow.png);
    margin: 5px;
}
.utp-line {
    border-top: 1px solid var(--second);
    border-bottom: 1px solid var(--second);
}
.utp-line span {
    color: #000;
    font-size: 0.875rem;
    margin-right: 1rem;
}
.title-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.utp-section {
    background-color: var(--second);
    padding: 50px 0;
}
.utp-section .utp-item {
    color: var(--black-gray);
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-align: center;
}
.utp-section .utp-item img {
    margin: 0 auto;
}

.middle-line {
    background: url(../img/ellipse_4.png) no-repeat 0 0, var(--second);
    background-position: 0 0;
    background-size: contain;
    align-items: center;
    margin-top: 200px;
    height: 134px;
}
.middle-line .absolute-image {
    position: absolute;
    top: -160px;
    left: 0;
}
.middle-line .middle-line-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: var(--black-gray);
}
.middle-line .middle-line-text span>span {
    color: #3D5EC9;
}

.content-section {
    background-color: var(--second);    
}
.collection-item {
    /* width: 270px; */
}
.card-recipes {
    /* width: 270px; */
    border-color: transparent;
    background-color: transparent;    
    border-radius: 10px;
}
.card-recipes .card-body {
    padding: 5px 0;
}
.card-recipes .card-title {
    color: #000;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none; 
    letter-spacing: 0.05em;   
}
.card-recipes .card-text {
    color: var(--black-gray);
    font-size: 0.875rem;
    text-decoration: none; 
    letter-spacing: 0.05em;
}
.card-recipes .card-footer {
    display: flex;
    padding: 5px 0;
    border-color: transparent;
    background-color: transparent; 
}
.card-recipes .card-footer img {
    display: inline;
}
.card-recipes .card-footer span {
    color: #000;
    font-size: 0.6875rem;
    padding-right: 1.875rem;
}
.articles-section .card-recipes {
    width: auto;
}
.brands-section h2 {
    text-align: center;
}
.card-brands {
    border-color: var(--border);
    border-radius: 10px;
    text-decoration: none;
    position: relative;
}
.card-brands .card-badge {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    font-size: 1rem;
    font-weight: 500;
}
.card-brands .card-img-top {
    display: block;
    margin: 30px auto;
    max-width: 150px;
    max-height: 150px;
}
.card-brands .card-body {
    padding: 5px 20px;
}
.card-brands .card-title {
    color: var(--black-gray);
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
}
.card-brands .card-title:hover {
    text-decoration: none;
}
.info-section {
    background-color: var(--second);
    padding: 40px 0;
    margin-bottom: 2rem;
}
.info-section .text-block {
    color: var(--black-gray);
    font-size: 1rem;
    font-weight: 500;
}
.description-section {
    background-color: var(--second);
    padding: 2.5rem 0;
}
.description-section .text-block {
    color: #000;
    font-size: 1rem;
    font-weight: 500;
}
.description-section .form-control {
    width: 350px;
    border: transparent;
    border-radius: 100px;
    padding: 1.375rem 1.75rem;
    margin-right: 1.5rem;
}


/* **************** */
/* mini card styles */
/* **************** */

/* Normal state */

.card-product {
    min-width: 270px;
    border-color: var(--border);
    border-radius: 10px;
}
.card-product .card-header {
    padding: 5px 20px;
    opacity: 0;
}
.card-product .img-link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-product .img-link .card-img-top {
    max-width: 180px;
    max-height: 180px;
}
.card-product .card-body {
    padding: 5px 20px;
}
.card-product .card-title {
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;    
}
.card-product .separator {
    background-color: var(--main);
    width: 95px;
    height: 2px;
    border-radius: 0px 100px 100px 0px;
    margin-left: -20px;
}
.card-product .buy-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-product .buy-block .price {
    color: var(--main);
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.card-product .buy-block .btn-buy {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--main);
    border-color: var(--main);
    border-radius: 100px;
    padding: 10px 20px;
}
.card-product .buy-block .btn-buy:hover {
    color: #fff;
    background-color: var(--light);
    border-color: var(--light);
    box-shadow: 0px 3px 0px var(--main);
} 
.card-product .card-footer {
    padding: 5px 20px;
    background-color: transparent;
    border-top: transparent;
}
.card-product .text-sold-by {
    color: var(--gray);
    font-size: 0.875rem;
}
.card-product .text-availability {
    color: var(--gray);
    font-size: 0.875rem;
}
.card-product .text-availability img {
    display: inline;
}





/* buttons */

.btn-primary {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--main);
    border-color: var(--main);
    border-radius: 100px;
    padding: 10px 20px;
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--light);
    border-color: var(--light);
    box-shadow: 0px 3px 0px var(--main);
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: var(--main);
    border-color: var(--main);
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--main);
    border-color: var(--main);
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}


.btn-secondary {
    color: var(--black-gray);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-width: 2px;
    background-color: transparent;
    border-color: var(--main);
    border-radius: 100px;
    padding: 10px 20px;
}

.btn-secondary:hover {
    color: #fff;
    background-color: var(--light);
    border-color: var(--light);
    box-shadow: 0px 3px 0px var(--main);
}

.btn-secondary:focus,
.btn-secondary.focus {
    color: #fff;
    background-color: var(--main);
    border-color: var(--main);
    box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: var(--main);
    border-color: var(--main);
    box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}
.btn-sm  {
    font-size: 0.875rem;
    text-transform: unset;
}

/* https://kenwheeler.github.io/slick/ */

.slick-loading .slick-list {
    background: #fff url("../lib/slick/ajax-loader.gif") center center no-repeat;
}


/* Icons */

@font-face {
    font-family: "slick";
    src: url("../lib/slick/fonts/slick.eot");
    src: url("../lib/slick/fonts/slick.eot?#iefix") format("embedded-opentype"), url("../lib/slick/fonts/slick.woff") format("woff"), url("../lib/slick/fonts/slick.ttf") format("truetype"), url("../lib/slick/fonts/slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    width: 54px;
    height: 31px;
    cursor: pointer;
    top: 50%;
    padding: 0;
    font-size: 0;
    border: none;
    outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    outline: none;
}
.slick-prev {
    background: url(../img/slider-arrow-left-lg.png);
    left: 0;
}
.slick-next {
    background: url(../img/slider-arrow-right-lg.png);
    right: 0;
}


/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -30px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}


.slick-dots li {
    display: inline-block;
    text-align: center;
    width: auto;
    margin: 0 5px;
    cursor: pointer;
}

.slick-dots li button {
    border: 0;
    background-color: var(--gray);
    opacity: .3;
    display: inline-block;
    vertical-align: middle;
    height: 12px;
    width: 12px;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 5px;
    cursor: pointer;
    border-radius: 100px;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li.slick-active button {
    background-color: var(--main);
    opacity: 1;
    width: 30px;
}

.slick-slide,
.slick-slide * {
    outline: none !important;
}


/* naigation panel */
.slick-dots-wrapper {
    position: absolute;
    display: inline-block;
    top: -60px;
    right: 0;
    background-color: var(--second);
    padding: 10px 20px;
    border-radius: 100px;
}
.slick-dots-wrapper .slick-dots {
    position: static;
    display: inline-block;
    vertical-align: middle;
    width: auto;
}
.slick-dots-prev,
.slick-dots-next {
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 16px;
    cursor: pointer;
    padding: 0;
    border: none;
    outline: none;
}

.slick-dots-prev:hover,
.slick-dots-prev:focus,
.slick-dots-next:hover,
.slick-dots-next:focus {
    outline: none;
    color: transparent;
}

.slick-dots-prev.slick-disabled,
.slick-dots-next.slick-disabled {
    opacity: 0.75;
}

.slick-dots-prev {
    background: url(../img/slider-arrow-left.png);
    margin-right: 1rem;
}
.slick-dots-next {
    background: url(../img/slider-arrow-right.png);
    margin-left: 1rem;
}

/* customization */
.main-slider .slick-dots-wrapper {

    top: 310px;
    right: calc(50% - 93px);
}
.card-slider .slick-slide,
.card-slider-3col .slick-slide {
    padding: 0 .5rem;
}

.card-slider .card,
.card-slider-3col .card,
.card-slider-3col .collection-item {
    min-width: auto;
}
.utp-slider {
    padding: 0 60px;
}



.section-devider {
    margin-bottom: 90px;
}
section h2 {
    margin-bottom: 1.5rem;
}



@media (max-width: 575px) {


}
